In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\administrator\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: outcome in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\administrator\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\administrator\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\administrator\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\administrator\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [60]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [4]:
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32.zip\chromedriver.exe')

In [5]:
driver.maximize_window()

In [6]:
url = 'https://www.naukri.com/'
driver.get(url)

In [7]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data analyst")

In [8]:
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Banglore")

In [9]:
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [10]:
#first 10 job titles

job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
    


job_titles[0:10]

['Data Analyst',
 'APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Sr Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Analyst - PLM Data Migration',
 'People Data Analyst',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst']

In [11]:
#job location

location = []
locn_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in locn_tags:
    location.append(i.text)
    
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
# Company name

company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
    
company_names[0:10]

['Cargill',
 'MeritTrac',
 'Inspira Enterprise India Pvt. Ltd.',
 'Wells Fargo',
 'CGI',
 'Western Digital',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture']

In [13]:
# Exprience

experience_required = []
experience = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience:
    experience_required.append(i.text)
    
experience_required[0:10]

['3-5 Yrs',
 '9-14 Yrs',
 '3-4 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs']

In [14]:
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['location'] = location
jobs ['company'] = company_names
jobs['experience'] = experience_required
jobs[0:10]

,job title,location,company,experience
0,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
1,APRP Manager / Senior Data Analyst - MeritTrac...,Bangalore/Bengaluru,MeritTrac,9-14 Yrs
2,Sr Data Analyst,Bangalore/Bengaluru,Inspira Enterprise India Pvt. Ltd.,3-4 Yrs
3,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,5-7 Yrs
4,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
5,People Data Analyst,Bangalore/Bengaluru,Western Digital,6-8 Yrs
6,Associate Healthcare Research & Data Analyst,Bangalore/Bengaluru,Clarivate,3-4 Yrs
7,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
8,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

## “Data Scientist” Job position in “Bangalore

In [26]:
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32.zip\chromedriver.exe')

In [41]:
driver.maximize_window()

In [69]:
url = 'https://www.naukri.com/'
driver.get(url)

In [70]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [71]:
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Banglore")

In [72]:
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [77]:
## job title

job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
    
job_titles[0:10]

['Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Senior Data Scientist',
 'Program Manager, Analytics',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - Looking For Immediate Joiners',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II']

In [78]:
## job location

location = []
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locn_tags:
    location.append(i.text)
    
location[0:10]

['Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hybrid - Mumbai, Pune, Bangalore/Bengaluru',
 'Hybrid - Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'India, Bangalore/Bengaluru, Mumbai (All Areas)']

In [79]:
Company_name = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    Company_name.append(i.text)
    
Company_name[0:10]

['Accenture',
 'Citiustech',
 'Wipro',
 'Uber',
 'Quest Global',
 'Accenture',
 'Wipro',
 'Altair',
 'Boston Consulting Group',
 'Bizongo']

In [80]:
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['location'] = location
jobs ['company'] = company_names
jobs[0:10]

,job title,location,company
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CGI
1,Assistant Manager - Data Science,"Hybrid - Mumbai, Pune, Bangalore/Bengaluru",Clarivate
2,Senior Data Scientist,"Hybrid - Pune, Chennai, Bangalore/Bengaluru",Mobile Premier League (MPL)
3,"Program Manager, Analytics",Bangalore/Bengaluru,TeamLease
4,Data Scientist,Bangalore/Bengaluru,Accenture
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Elasticsearch
6,Data Scientist - Looking For Immediate Joiners,"Hybrid - Hyderabad/Secunderabad, Bangalore/Ben...",NMS Consultant
7,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",IBM
8,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",IBM
9,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Wells Fargo

# Location and salary filter

In [21]:
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32.zip\chromedriver.exe')

In [22]:
driver.maximize_window()

In [23]:
url = 'https://www.naukri.com/'
driver.get(url)

In [24]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [25]:
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [34]:
location = []
locn_tags = driver.find_elements(By.XPATH,'//*[@id="tooltip"]/div[2]/div[1]/div/div[1]/div[5]/label/p/span[1]')
for i in locn_tags:
    location.append(i.text)
    
location

['Delhi / NCR']

In [37]:
search_loc = driver.find_element(By.XPATH,'//*[@id="tooltip"]/div[2]/div[1]/div/div[1]/div[5]/label/p/span[1]')
search_loc.click()

In [38]:
salary = []
salary_tag = driver.find_elements(By.XPATH,'//*[@id="root"]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
for i in salary_tag:
    salary.append(i.text)
    
salary

['3-6 Lakhs']

In [39]:
search_sal = driver.find_element(By.XPATH,'//*[@id="root"]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
search_sal.click()

In [50]:
job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
    
job_titles[0:10]

['Data Scientist - Looking For Immediate Joiners',
 'Python Programming Language Data Science Practitioner',
 'Data Scientist - 2',
 'Data Scientist',
 'Data Scientist/Sr. Data Scientist',
 'Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Staff Research Scientist',
 'ML Engineer']

In [51]:
location = []
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags:
    location.append(i.text)
    
location[0:10]

['Hybrid - Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [55]:
company_name = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)
    
company_name[0:10]

['Wipro',
 'Accenture',
 '24 7 ai',
 'HCLTech',
 'Synechron',
 'Infosys',
 'Boston Consulting Group',
 'Quest Global',
 'Swiggy',
 'Groww']

In [53]:
experience_required = []
experience = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience:
    experience_required.append(i.text)
    
experience_required[0:10]

['5-10 Yrs',
 '4-6 Yrs',
 '1-3 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs']

In [56]:
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['location'] = location
jobs['company'] = company_name
jobs['experience'] = experience_required
jobs[0:10]

,job title,location,company,experience
0,Data Scientist - Looking For Immediate Joiners,"Hybrid - Hyderabad/Secunderabad, Bangalore/Ben...",Wipro,5-10 Yrs
1,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
2,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai,1-3 Yrs
3,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
4,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs
5,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
6,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
7,Data Scientist,Bangalore/Bengaluru,Quest Global,3-6 Yrs
8,Staff Research Scientist,Bangalore/Bengaluru,Swiggy,1-5 Yrs
9,ML Engineer,Bangalore/Bengaluru,Groww,2-5 Yrs

In [59]:
driver.close()

In [61]:
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32.zip\chromedriver.exe')

In [62]:
driver.maximize_window()

In [63]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [101]:
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("sunglasses")

In [102]:
search_btn = driver.find_element(By.CLASS_NAME,"_34RNph")
search_btn.click()

In [119]:
brand_titles = []
title_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags:
    brand_titles.append(i.text)
    
brand_titles[0:100]

['ROZZETTA CRAFT',
 'Singco India',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'GANSTA',
 'Sewell',
 'SRPM',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SRPM',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'Singco India',
 'kingsunglasses',
 'SUNBEE',
 'PIRASO',
 'RESIST EYEWEAR',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'GANSTA',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'Singco India',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO']

In [121]:
product_desc = []
prod_description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in prod_description:
    product_desc.append(i.text)
    
product_desc[0:100]

['UV Protection Spectacle Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'Toughened Glass Lens Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)']

In [123]:
price = []
prices = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in prices:
    price.append(i.text)
    
price[0:100]

['₹379',
 '₹575',
 '₹649',
 '₹519',
 '₹209',
 '₹629',
 '₹265',
 '₹296',
 '₹265',
 '₹199',
 '₹379',
 '₹331',
 '₹149',
 '₹579',
 '₹519',
 '₹176',
 '₹296',
 '₹222',
 '₹283',
 '₹251',
 '₹1,399',
 '₹339',
 '₹649',
 '₹559',
 '₹251',
 '₹197',
 '₹759',
 '₹949',
 '₹649',
 '₹268',
 '₹296',
 '₹849',
 '₹185',
 '₹474',
 '₹579',
 '₹649',
 '₹296',
 '₹616',
 '₹323',
 '₹251']

In [124]:
price_off = []
prices = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in prices:
    price_off.append(i.text)
    
price_off[0:100]

['81% off',
 '80% off',
 '35% off',
 '35% off',
 '86% off',
 '30% off',
 '86% off',
 '85% off',
 '82% off',
 '80% off',
 '86% off',
 '83% off',
 '88% off',
 '35% off',
 '35% off',
 '82% off',
 '85% off',
 '77% off',
 '78% off',
 '84% off',
 '72% off',
 '83% off',
 '35% off',
 '30% off',
 '84% off',
 '83% off',
 '62% off',
 '52% off',
 '27% off',
 '89% off',
 '85% off',
 '57% off',
 '89% off',
 '76% off',
 '35% off',
 '67% off',
 '85% off',
 '75% off',
 '87% off',
 '84% off']

In [127]:
next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

next_button.click()

AttributeError: 'list' object has no attribute 'click'